body {
	background-image: url(../images/i-should-buy-a-boat.jpg);
      background-attachment: fixed;
      background-size:100%;
     
     
}
form {
	border: #ccc 1px solid;
	width: 450px;
	margin: auto;
	padding: 20px;
	margin-top: 40px; 
	margin-bottom:40px; 
	background: rgba(255, 255, 255,0.85);
	box-shadow: 0px 3px 20px #000;
}
label {
	display: block;
	font-size: 16px;
	color: #045FB4;
}
input {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #ccc;
}

input:focus {
 border: 1px solid #1668C4;
}

input[type='submit']{
	background:   #1668C4;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border:none;

}

input[type='submit']:hover {
	background: #4A88F4;
	cursor: pointer;
	 transition-duration: 1.5s;

}

.forgot_pass
{
	float: left;

}
.forgot_sign
{
	display: block;
	text-align: right;
}

#name-error , #lastname-error, #email-error, #user-error, #pass-error {
    	color: #D23A3A;
    	font-size: 12px; /*91DC5A*/
}

.validate_check_user {
	display: none;
}

.validate_check_pass {
	display: none;
}





